:root {
  --black: #000000;
  --gray: #ebebeb;
  --accent: #16a25e;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: var(--black);
  background: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 50px 20px;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* navbar */
header {
  width: 100vw;
  background-color: var(--gray);
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & nav {
    & ul {
      display: flex;
      gap: 10px;
      list-style: none;

      & a {
        color: var(--black);
        background-color: var(--white);
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
    }
  }

  & .searchbar {
    display: flex;
    justify-content: center;
    gap: 5px;

    & label {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }
}

/* footer */
footer {
  width: 100vw;
  background-color: var(--gray);
  padding: 15px 10px;
  display: flex;
  justify-content: center;
}

/* forms */
.form {
  margin: 0 auto;
  background-color: var(--gray);
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  display: grid;
  gap: 10px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgb(69, 69, 69);

  & span {
    & sup {
      color: #ff0000;
    }
  }
}

input,
textarea,
select {
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: var(--accent);
  }
}

input[type="date"]:hover {
  cursor: pointer;
}

.submit-button {
  margin-top: 20px;
}

/* components */
a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.2s ease;
  line-height: normal;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    opacity: 0.7;
  }
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--accent);
  border-radius: 5px;
  background: var(--accent);
  color: white;
  font-size: 1rem;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }
}

/* login.php */
.login-register-title {
  text-align: center;
}

.info-link {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

/* album_list.php */
.album-list {
  margin: 20px 0 0 30px;
  display: grid;
  gap: 5px;
}

/* album_details.php */
.column-container {
  display: flex;
  justify-content: space-between;

  & aside {
    width: 300px;
  }
}

.comment-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & li {
    background-color: #ebebeb;
    padding: 5px 10px;
    border-radius: 10px;
  }
}

.rating-list {
  display: flex;
  gap: 15px;
}

.track-list {
  display: grid;
  gap: 5px;
  margin-left: 30px;
}

.member-comments-title {
  margin-top: 20px;
}

.comment-details {
  display: flex;
  gap: 5px;
}

.star-rating,
.comment-fieldset {
  padding: 10px;
  border-radius: 10px;

  & legend {
    padding: 0 5px;
    font-weight: 500;
  }

  & input[type="submit"] {
    margin-top: 10px;
  }
}

.comment-fieldset {
  margin-top: 10px;

  & textarea {
    width: 100%;
    resize: vertical;
  }
}

.delete-button {
  margin-top: 20px;
  background-color: red;
  border: 1px solid red;
}
